* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
    --third-color: green;
    --h2-size: 35px;
    --content-font: 20px;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--primary-color);
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero-image.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
}

.About {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.me h2{
    display: flex;
    justify-content: left;
    position: relative;
    padding-left: 150px;
    top: 175px;
    font-size: var(--h2-size);
}

.pic-of-me img{
    height: 350px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    left: 375px;
}

.bio {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: var(--content-font);
}

.work-head {
    display: flex;
    justify-content: center;
}

.work-head h2 {
    font-size: var(--h2-size);
}

.work-code {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-code article {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 30px;
    margin: 0 20 40 20;
    position: relative;
    width: 900px;
}

.work-code a {
    width: 800px;
}

.work-code a img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: 0% 0%;
}

.work-code label {
    position: absolute;
    bottom: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-align: center;
    background-color: var(--primary-color);
    opacity: 0.75;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 6px;
}

.work-code article:not(:first-child) {
    width: 450px;
}

.page-section h2 {
    font-size: var(--h2-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Contact-Me {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.Contact-Me h2 {
    font-size: var(--h2-size);
    justify-content: left;
    padding-right: 150px !important; 
}

.contact {
    padding-top: 10px;
}

.contact a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--content-font);
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, html {
        height: 100%
    }

    header {
        width: 100%;
    }
}
